# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Metro
.cache/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build output
dist/
build/

# VSCode
.vscode/

# Misc
*.log
*.lock
.idea/

# React Native
android/app/build/
ios/Pods/

# TypeScript
*.tsbuildinfo
